@media (max-width: 1024px) {
    #Bai7 .container {
        flex-direction: column;
    }

    #Bai9 .container {
        flex-direction: column;
        justify-content: center;
    }
    
    #Bai9 .container__content {
        order: 1;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #Bai9 .container__picture {
        order: 2;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    #Bai12 .footer {
        flex-direction: column;
    }

    #Bai14 .laptops {
        flex-wrap: wrap;
    }

    #Bai17 .footer .above-footer {
        flex-direction: column;
    }
    
}

@media (max-width: 930px) {
    #Bai13 .footer .footer__left {
        flex: 1 0 90%;
    }

    .auto-wrap {
        flex: 1 0 33%;
    }

    #Bai20 .container {
        flex-direction: column;
    }

    #Bai20 .container .left-container {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }

    #Bai20 .container .right-container {
        flex: 1;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 530px) {
    #Bai17 .footer .above-footer .above-footer__links {
        flex-direction: column;
    }

    #Bai17 .footer .above-footer .above-footer__links .links {
        margin-top: 32px;
    }
}

@media (max-width: 430px) {
    #Bai8 .header .header__navlink {
        display: none;
    }

    #Bai10 .content1,
    #Bai10 .content2 {
        flex-direction: column;
    } 

    #Bai10 .content1 .card,
    #Bai10 .content2 .card {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 16px;
    }

    #Bai15 .contact-form .container {
        flex-direction: column;
    }
}

