body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

section:not(:first-child) {
    margin-top: 100px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.white-text {
    color: white;
}

.mt-16 {
    margin-top: 16px !important;
}


/* Bài 1 */
#Bai1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Bai1 img {
    max-width: 150px;
    align-self: center;
}

#Bai1 .link {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}


#Bai1 .link .link__product {
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    color: #fff;
    padding: 24px;
    background-color: #000;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 10px;
    line-height: 28px;
    display: flex;
}

#Bai1 .link .link__product:hover {
    cursor: pointer;
    opacity: 0.7;
}

#Bai1 .link .icon1 {
    color: blue;
}


#Bai1 .link .icon2 {
    color: violet;
}


#Bai1 .link .icon1,
#Bai1 .link .icon2 {
    font-size: 28px;
    align-self: center;
    margin-left: 8px;
}


/* Bài 2 */
#Bai2 {
    display: flex;
    justify-content: center;
}

#Bai2 .Bai2__content {
    max-width: 600px;
}

#Bai2 .Bai2__content .tag-link {
    min-height: 100px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 32px;
}

#Bai2 .Bai2__content .tag-link a {
    text-decoration: none;
    white-space: nowrap;
    line-height: 60px;
    margin: 12px;
    padding: 12px;
    border-radius: 5px;
    background-color: #82E500;
}

/* Bài 3 */
#Bai3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#Bai3 h1 {
    font-size: 32px;
}

#Bai3 img {
    max-width: 100%;
    height: auto;
}

#Bai3 p,
#Bai3 ul li {
    line-height: 24px;
}

#Bai3 ul li {
    list-style: none;
}

#Bai3 .read-more {
    padding: 12px 24px;
    margin-top: 24px;
    background-color: #00BDD2;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    font-size: 12px;
}

#Bai3 .read-more:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Bài 4 */
#Bai4 {
    display: flex;
    justify-content: center;
}


#Bai4 .Bai4__content {
    width: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F0F0;
}

#Bai4 .Bai4__content form {
    margin-bottom: 40px;
}

#Bai4 .Bai4__content .icon {
    align-self: center;
    background: url('../images/mail_icon.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    width: 40px;
    height: 40px;
    border: 3px solid #00BDD2;
    border-radius: 50%;
    padding: 8px;
    margin-top: 16px;
}

#Bai4 .Bai4__content .action-behavior {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Bai4 #guest-email {
    width: 256px;
    border: none;
    border-radius: 5px;
    align-self: center;
    padding: 16px 8px;
}

#Bai4 #submit-send {
    max-width: 30%;
    margin-top: 12px;
    align-self: center;
    border: none;
    background-color: blue;
    border-radius: 5px; 
    padding: 16px;
    color: #fff;
    text-transform: uppercase;
}

/* Bài 5 */
#Bai5 .Bai5__content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/banner_coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#Bai5 .Bai5__content h1 {
    margin-top: 60px; 
}

#Bai5 .Bai5__content h1,
#Bai5 .Bai5__content p {
    color: #fff;
}

#Bai5 #regist {
    background-color: #ED3D27;
    border: none;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-bottom: 60px;
}

#Bai5 #regist:hover {
    opacity: 0.8;
}

/* Bài 6 */
#Bai6 .Bai6__content {
    background: url('../images/dark-night-starts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

#Bai6 .Bai6__content .icon1 {
    background: url('../images/graduated-icon.png');
}

#Bai6 .Bai6__content .icon2 {
    background: url('../images/job-seeker.png');

}

#Bai6 .Bai6__content .icon3 {
    background: url('../images/idea.png');

}

#Bai6 .Bai6__content .icon4 {
    background: url('../images/web.png');

}

#Bai6 .Bai6__content .icon1,
#Bai6 .Bai6__content .icon2,
#Bai6 .Bai6__content .icon3,
#Bai6 .Bai6__content .icon4 {
    height: 50px;
    margin-top: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#Bai6 .Bai6__content h1,
#Bai6 .Bai6__content p {
    text-align: center;
    color: #fff;
}

#Bai6 .Bai6__content p {
    margin-bottom: 40px;
}


/* Bài 7 */
#Bai7 .container {
    display: flex;
    justify-content: space-between;
}


#Bai7 .container .container__right {
    display: flex;
}

#Bai7 .container .container__right .links,
#Bai7 .container .container__right .socials,
#Bai7 .container .container__right .contact   {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}


#Bai7 .container .container__right .links a,
#Bai7 .container .container__right .socials a,
#Bai7 .container .container__right .contacts a {
    text-decoration: none;
    color: #898E90;
    margin-top: 8px;
} 

#Bai7 .container .container__right .links a:hover,
#Bai7 .container .container__right .socials a:hover,
#Bai7 .container .container__right .contacts a:hover {
    text-decoration: underline;
}

/* Bài 8 */
#Bai8 .header {
    display: flex;
    justify-content: space-around;
}

#Bai8 .header img {
    width: 50px;
    height: 100%;
}

#Bai8 .header .header__navlink {
    display: flex;
    justify-content: center;
}

#Bai8 .header .header__navlink a {
    text-decoration: none;
    color: #000;
    align-self: center;
    margin: 0 12px;
}

#Bai8 #Bai8-login {
    min-width: 80px;
}

#Bai8 .header .header__navlink a:hover {
    text-decoration: underline;
}

/* Bài 9 */
#Bai9 .container {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#Bai9 .container__picture {
    margin-right: 32px;
}

#Bai9 .container__picture img {
    width: 300px;

}

#Bai9 .container__content {
    margin: 0 32px;
}

#Bai9 #Bai9-button {
    background-color: #fff;
    padding: 12px;
    text-transform: uppercase;
}

/* Bài 10 */
#Bai10 .content1,
#Bai10 .content2 {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

#Bai10 .content1 .card,
#Bai10 .content2 .card {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    background-color: #F5F5F5;
    border-radius: 10px;

}

#Bai10 .content1 .card .data,
#Bai10 .content2 .card .data {
    border-radius: 50%;
    padding: 16px;
    border: 2px solid #18A4A3;
    color: #18A4A3;
    align-self: center;
    width: 20px;
    margin-top: 20px;
}

#Bai10 .card h1,
#Bai10 .card p {
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

/* Bài 11 */
#Bai11 .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#Bai11 .form {
    background-color: #F0F0F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

}

#Bai11 .form-action {
    display: flex;
    justify-content: space-around;
}

#Bai11 .form-action .send-comment__left,
#Bai11 .form-action .send-comment__right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#Bai11 .form-action .send-comment__left input,
#Bai11 .form-action .send-comment__left select,
#Bai11 .form-action .send-comment__right input {
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    border: none;
    padding: 12px;
    margin-top: 16px;
}

#Bai11 .form-action .send-comment__left select {
    color: #75758B;
}

#Bai11 .form .below {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
#Bai11 .form .below textarea {
    width: 95%;
    border: none;
    padding: 8px 8px 40px 8px;  
    align-self: center;
    box-sizing: border-box;
}

#Bai11 .form .below button {
    background-color: #0097F7;
    align-self: start;
    margin-left: 2.5%;
    border: none;
    padding: 12px;
    margin-bottom: 32px;
    color: white;
}

#Bai11 .form .below button:hover {
    cursor: pointer;
    opacity: .8;
}

/* Bài 12 */
#Bai12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #4A9DA1;
    color: white;
}
#Bai12 .footer {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#Bai12 .footer .footer__left,
#Bai12 .footer .footer__links,
#Bai12 .footer .footer__socials {
    flex: 1;
    margin: 0 80px;
}

#Bai12 .footer .footer__socials .icon {
    display: flex;
    flex-direction: row;
}

#Bai12 .footer .footer__socials .icon a{
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 8px;
    font-size: 20px;
    border: none;
}

#Bai12 .footer .footer__socials .icon .facebook {
    background-color: #0097F7;
}

#Bai12 .footer .footer__socials .icon .google{
    background-color: #F9392F;
}

#Bai12 .footer .footer__socials .icon .twitter {
    background-color: #233C52;
}


#Bai12 .footer .footer__socials .icon .linkedin {
    background-color: #0097DD;
}

/* Bài 13 */
#Bai13 {
    background-color: #1E1E1E;
    color: #75758B;
}

#Bai13 .footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#Bai13 .footer .footer__left,
#Bai13 .footer .footer__links,
#Bai13 .footer .footer__socials,
#Bai13 .footer .footer__contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 28px;
}

#Bai13 .footer .footer__left {
    flex: 1.5;
}

#Bai13 .footer .footer__left img {
    width: 60px;
    height: 50px;
    margin-bottom: 40px;
}

#Bai13 .footer .footer__left h4,
#Bai13 .footer .footer__left p {
    line-height: 24px;
    margin: 0;
}

#Bai13 .footer .footer__left p {
    text-align: justify;
}

#Bai13 .footer .footer__links a,
#Bai13 .footer .footer__socials a,
#Bai13 .footer .footer__contacts a {
    text-decoration: none;
    color: #75758B;
    margin-top: 28px;
}

/* Bài 14 */
#Bai14 .laptops {
    display: flex;
    justify-content: space-around;
}

#Bai14 .laptops .laptop__card img {
    width: 350px;
    height: 300px;
}

#Bai14 .laptops .laptop__card .description p {
    margin: 0;
    line-height: 28px;
}

#Bai14 .laptops .laptop__card button{
    margin-top: 16px;
    padding: 12px 16px;
    background-color: white;
    border-width: 1px;
}

/* Bài 15 */
#Bai15 .contact-form .contact-form__title {
    color: blue;
    text-transform: uppercase;
    border-bottom: 3px solid red ;
}

#Bai15 .contact-form .container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

#Bai15 .contact-form .container__info {
    flex: 1;
}

#Bai15 .contact-form .container__info a {
    text-decoration: none;
    color: black;
}

#Bai15 .contact-form .container__info a:hover {
    text-decoration: underline;
}

#Bai15 .contact-form .container__info  i {
    margin-right: 12px;
    font-size: 24px;
}

#Bai15 .contact-form .container__form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#Bai15 .contact-form .container__form .form-input {
    margin-top: 12px;
    padding: 8px 12px;
}

#Bai15 .contact-form .container__form textarea {
    padding-bottom: 80px !important;
}

#Bai15 .contact-form .container__form button {
    margin-top: 16px;
    max-width: 150px;
    padding: 12px;
    background-color: #4A9DA1;
    border: none;
    color: white;
}

#Bai15 .contact-form .container__form button:hover {
    opacity: .8;
    cursor: pointer;
}

/* Bài 16 */
#Bai16 .container .container__item {
    background-color: #FAFAFA;
    width: 95%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin: 16px 40px;
}

#Bai16 .container .container__item p {
    padding: 12px;
    margin: 0;
}

/* Bài 17 */
#Bai17 .footer {
    background-color: #000;
    color: #393939;
}

#Bai17 .footer .above-footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 5%;
    margin-left: 5%;
}

#Bai17 .footer #user-mail {
    background-color: #141414;
    color: white;
    border: none;
    padding: 12px;
    min-width: 70%;
}

#Bai17 .footer #submit-button {
    min-width: 20%;
    padding: 12px 0;
    background-color: #00BCD0;
    border: none;
    color: white;
}

#Bai17 .footer #submit-button:hover {
    opacity: .8;
    cursor: pointer;
}

#Bai17 .footer .above-footer__links {
    display: flex;
    justify-content: space-around;
}

#Bai17 .footer .above-footer__links .links {
    display: flex;
    flex-direction: column;
}

#Bai17 .footer .above-footer__links a {
    text-decoration: none;
    color: #393939;
    margin: 16px 16px 0 16px;
    white-space: nowrap;
}

#Bai17 .footer .above-footer__links a:hover {
    color: #F0F0F0;
}

#Bai17 .footer .below-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #141414;
    padding: 24px 5%;
    margin-top: 60px;;
}

#Bai17 .footer .below-footer .below-footer__logo img {
    width: 60px;
    height: 100%;
}

#Bai17 .footer .below-footer .below-footer__copyright p {
    color: #393939;
}

/* Bài 18 */
#Bai18 {
    display: flex;
    justify-content: center;
}

#Bai18 .container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-self: center;
    background-color: #F2F3F5;
}

#Bai18 .container .container__card {
    display: flex;
    flex-direction: row;
    margin: 16px 16px 0 16px;
}

#Bai18 .container .container__card:not(:first-child) {
    border: none;
    border-top: 2px dotted red;
}
#Bai18 .container .container__card .image {
    flex: 2;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 12px;
}

#Bai18 .container .container__card .image img{
    width: 100%;
    height: 100%;
}

#Bai18 .container .container__card .description {
    flex: 8;
    line-height: 24px;
}

/* Bài 19 */
#Bai19 {
    background-color: #E6E6FC;
    display: flex;
    justify-content: center;
}
#Bai19 .container {
    width: 400px;
    margin: 32px 0;
    border-radius: 20px;
    overflow: hidden;
}

#Bai19 .container .container__title {
    background-color: #FC78F1;
}

#Bai19 .container .container__title h1 {
    padding-top: 16px;
    margin-top: 0;
}

#Bai19 .container .container__title h2 {
    padding-left: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
}

#Bai19 .container .container__form {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    padding-top: 16px;
    color: #858789;
}

#Bai19 .container .container__form {
    background-color: white;
}

#Bai19 .container .container__form input {
    border: none;
    background-color: #F0F0F0;
    padding: 8px;
}

#Bai19 .container #submit {
    margin: 16px 0;
    background-color: #00E0CD;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    width: 20%;
    align-self: center;
}

